input {
    font-size: 24px;
    font-family: Big Shoulders Text, ExtraBold800;
    color: #858585;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    transition: border 0.5s;
    display: block;
    margin: 10px auto;
    width: 70%;
}

input:hover {
    border: 1px solid indianred;
}